/* Fonts
-------------------- */
@font-face {
	font-family: 'Game';
	src: url('../fonts/game_font_7.eot');
	src: url('../fonts/game_font_7.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/game_font_7.woff2') format('woff2'),
		 url('../fonts/game_font_7.woff') format('woff'),
		 url('../fonts/game_font_7.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gidole';
	src: url('../fonts/gidole-regular.eot');
	src: url('../fonts/gidole-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/gidole-regular.woff2') format('woff2'),
		 url('../fonts/gidole-regular.woff') format('woff'),
		 url('../fonts/gidole-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* General
-------------------- */
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	height:100%;
	margin:0px;
	padding:0px;
	width:100%;
}

.carte {
    width: 95%;
    height: 20%;
    max-width: 527px;
    max-height: 339px;
    background-image: url('../img/carte.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 20px;
    margin: 0 auto;
}

/* Portrait
-------------------- */
.app {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
  z-index:1;
	padding:61px 20px 20px;
}

.text-center {
	text-align:center;
}

form {
	max-width: 500px;
	margin: 0 auto;
}

.carte_top {
	font-size: 22px;
	background: rgba(255,255,255,.5);
	padding: 5px;
}

.carte_left, .carte_right {
	display: inline-block;
	vertical-align: top;
	margin-top: 25px;
	margin-bottom: 25px;
}

.carte_left {
	list-style-image: url('../img/carrejaune.png');
	width: 60%;
	text-align: left;
}

.carte_name_name, .carte_pokedex_name {
	float: right;
}
.carte_left li {
	background: rgba(255,255,255,.5);
	padding: 5px;
	margin-top: 10px;
	width: 60%;
}

.carte_left li div {
	display: inline-block;
	vertical-align: top;
}

.carte_bottom {
	background: rgba(255,255,255,.5);
	padding: 5px;
	margin: 0 auto;
	width: 90%;
}


/* Landscape
-------------------- */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
	.app {
		
	}
}

h1 {
	margin-top: 40px;
}


nav {
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index:2;
  display: block;
  background: #162a67;
}

.menu {
  display: none;
  border-bottom:1px solid rgba(0,0,0,.3);
  margin:0;
}

.menu li {
  display: inline-block;
  position: relative;
  z-index: 100;
}

.menu li:first-child {
  margin-left: 0;
}

.menu li a {
  font-weight: 600;
  text-decoration: none;
  padding: 20px 15px;
  display: block;
  color: #fff;
  transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover,
.menu li:hover>a {
  color: #fff;
  background: #FC6D58;
}

.menu-toggle {
  display:block;
  width: 100%;
  padding: 0 15px;
  background: #162a67;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor:pointer;
  line-height:61px;
}

.menu-toggle:hover,.menu-toggle:active {
  background: #162a67;
  color: #fff;
  text-decoration: none;
}

 @media (min-width: 768px) and (max-width: 979px) {
  .mainWrap { width: 768px; }

  .menu li a { font-size: 12px; }

  a.active { background: #162a67; }
}
@media (max-width: 767px) {

  .mainWrap {
    width: auto;
    padding: 50px 20px;
  }

  .menu { display: none; }

  .menu-toggle { display: block; }

  nav {
    margin: 0;
    background: none;
  }

  .menu li {
    display: block;
    margin: 0;
  }

  .menu li a {
    background: #fff;
    color:white;
  }

  a.homer {
    background: #FC6D58;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .mainWrap {
    width: 768px;
  }
  .menu li a {
    font-size: 12px;
  }
  a.active {
    background: #E95546;
  }
}

@media (max-width: 767px) {
  .mainWrap {
    width: auto;
    padding: 50px 20px;
  }
  nav {
    margin: 0;
    background: none;
  }
  .menu li {
    display: block;
    margin: 0;
  }
  .menu li a {
    background: #fff;
    color: #797979;
  }
  .menu li a:hover,
  .menu li:hover>a {
    background: #FC6D58;
    color: #fff;
  }
}